html,
body {
  background: repeating-linear-gradient(-45deg, #e8e8e8, #e8e8e8 0.5rem, #eee 0.5rem, #eee 1rem);
}
body > main .head {
  background: #fff;
  text-align: center;
}
body > main .head address {
  font-style: normal;
  margin: 0.5em 0;
}
body > main .head address .part {
  display: inline-block;
  margin: 0 0.5em;
}
body > main .head #details-toggle {
  background: #eee;
  border-radius: 1em;
}
body > main details,
body > main table,
body > main .content {
  margin: 0.5em 0;
}
body > main details {
  border-radius: 0 3em 3em 0;
}
body > main section:last-child {
  margin-bottom: 0;
}
body > main table {
  border-spacing: 1.25em 0.25em;
}
body > main summary {
  width: 100%;
  font-family: Patua One;
  display: inline-block;
}
body > main summary div {
  display: inline-block;
}
body > main summary .what {
  width: 30%;
  font-size: 1.5rem;
}
body > main summary .how {
  width: 25%;
  font-size: 0.8rem;
}
body > main summary .where {
  width: 15%;
  font-size: 0.8rem;
}
body > main summary .when {
  float: right;
  color: #444;
  margin-right: 0;
  padding-right: 0;
}
body > main h1 {
  color: #000;
}
body > main h1 .fa {
  color: #aaa;
}
