include _lib

doctype html
html
	head
		link(rel='icon' href='icon-big.png')
		link(rel='stylesheet' href='./style/layout.css')
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga')
			ga('create', 'UA-68278533-1', 'auto')
			ga('send', 'pageview')

		link(rel='stylesheet' href='./lib/details-shim/details-shim.min.css')
		script(src='./lib/details-shim/details-shim.min.js')

		block head
	body
		header
			h1#name #[a(href='/' title='home') andy hanson]
			nav
				mixin addr(href, iconName, title)
					a(href='#{href}' title='#{title}')
						+icon(iconName)
				+addr('/resume', 'file-text', 'resume')
				+addr('/games', 'gamepad', 'games')
				a(href='//mason-lang.org', 'mason') ms
				a(href='//dum-build.org', 'dum') dum
				+addr('//github.com/andy-hanson', 'github', 'github')
				+addr('mailto:andy.pj.hanson@gmail.com', 'envelope', 'email')
				+addr('tel:7034022284', 'phone', 'phone')
		main
			block content
