extends _layout

block head
	title Andy Hanson
	link(rel='stylesheet' href='./style/index.css')

block content
	section
		image#my-photo(src='./me.png')
		h1 #[+icon('heart')] me

		div.content
			p I write software!
			.inline-list-container
				p Favorite:
				ul.inline
					li #[a(href='//youtube.com/watch?v=kSFc-qhdBio') song]
					li #[a(href='//youtube.com/watch?v=znbJI7TP_zY') movie]
					li #[a(href='//youtube.com/watch?v=rKvgZI1CJq0z') game]
					li #[a(href='//gusvanhorn.blogspot.com/') blog]

			p.
				I live near San Francisco. But I'd be happy to move.
