striped-background(colorA, colorB)
	// diagonally striped background
	stripe-size = 0.5rem
	background repeating-linear-gradient(
		-45deg, colorA, colorA stripe-size, colorB stripe-size, colorB (stripe-size * 2))
