@require './_lib'

html, body
	striped-background #e8e8e8, #eee

body > main
	.head
		background white
		text-align center

		.part
			display inline-block
			width 12em

		#details-toggle
			background #eee
			border-radius 1em

	details, table, .content
		margin 0.5em 0

	details
		border-radius 0 3em 3em 0


	section:last-child
		margin-bottom 0

	table
		border-spacing 1.25em 0.25em

	summary
		width 100%
		font-family Patua One

		display inline-block

		div
			display inline-block

		.what
			width 30%
			font-size 1.5rem

		.how
			width 25%
			font-size 0.8rem


		.where
			width 15%
			font-size 0.8rem

		.when
			float right
			color #444
			margin-right 0
			padding-right 0

	h1
		color #0

		.fa
			color #aaa
