@require './_lib'

body > main
	.head
		background white
		text-align center

		address
			font-style normal
			margin 0.5em 0

			.part
				display inline-block
				margin 0 0.5em

		#details-toggle
			background #ff8c
			border-color transparent
			border-radius 1em

	details, table, .content
		margin 0.5em 0

	details
		border-radius 0 3em 3em 0

	section:last-child
		margin-bottom 0

	table
		border-spacing 1.25em 0.25em

	summary
		width 100%
		font-family Patua One

		display inline-block

		div
			display inline-block

		.what
			width 30%
			font-size 1.5rem

		.how
			width 25%
			font-size 0.8rem


		.where
			width 15%
			font-size 0.8rem

		.when
			float right
			color #444
			margin-right 0
			padding-right 0
