extends layout

block head
	title Andy Hanson — Games
	link(rel='stylesheet' href='./style/games.css')

block content
	section#games-list
		h1 #[+icon('rocket')] play
		a(href='thrifty-threesome-thriller') thrifty threesome thriller
		a(href='doppler-effect') doppler effect
		a(href='slots') slots
