include lib

doctype html
html
	head
		link(rel='icon' href='icon-big.png')

		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One|Crete+Round|Damion')
		link(rel='stylesheet' href='./style/layout.css')

		// Shims
		link(rel='stylesheet' href='./lib/details-shim/details-shim.min.css')
		script(src='./lib/details-shim/details-shim.min.js')

		block head

	body
		header
			h1#name #[a(href='/') andy hanson]
			ul.inline
				mixin addr(href, iconName)
					li
						address
							a(href='#{href}')
								+icon(iconName)
				+addr('/resume.html', 'file-text')
				+addr('/games.html', 'gamepad')
				li
					address
						a(href='http://mason-lang.org')
							img(src='http://mason-lang.org/icon.svg')
				+addr('https://github.com/andy-hanson', 'github')
				+addr('mailto:andy.pj.hanson@gmail.com', 'envelope')
				+addr('tel:7034022284', 'phone')

		main
			block content

