-
	var tech_links = {
		applet: 'https://en.wikipedia.org/wiki/Java_applet',
		babel: 'https://babeljs.io/',
		bash: 'https://en.wikipedia.org/wiki/Bash_(Unix_shell)',
		bower: 'http://bower.io',
		broccoli: 'https://github.com/broccolijs/broccoli',
		browserify: 'http://browserify.org',
		c: 'https://en.wikipedia.org/wiki/C_(programming_language)',
		'c++': 'https://isocpp.org/',
		'c♯': 'https://en.wikipedia.org/wiki/C_Sharp_(programming_language)',
		cake: 'http://coffeescript.org/documentation/docs/cake.html',
		canvas: 'https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API',
		codemirror: 'https://codemirror.net',
		codo: 'https://github.com/coffeedoc/codo',
		coffeescript: 'http://coffeescript.org',
		css: 'http://www.w3.org/Style/CSS/',
		es6: 'https://github.com/lukehoban/es6features',
		express: 'http://expressjs.com',
		git: 'https://git-scm.com',
		github: 'https://github.com',
		glsl: 'https://en.wikipedia.org/wiki/OpenGL_Shading_Language',
		grunt: 'http://gruntjs.com',
		gulp: 'http://gulpjs.com',
		html: 'https://en.wikipedia.org/wiki/HTML',
		node: 'https://nodejs.org',
		jade: 'http://jade-lang.com',
		java: 'https://www.java.com',
		javascript: 'https://developer.mozilla.org/en-US/docs/Web/javascript',
		jasmine: 'https://jasmine.github.io',
		jquery: 'http://jquery.com',
		linux: 'http://www.linuxmint.com',
		lwjgl: 'http://lwjgl.org',
		mocha: 'https://mochajs.org',
		naturaldocs: 'http://naturaldocs.org',
		npm: 'https://npmjs.com',
		ogre: 'http://ogre3d.org',
		php: 'https://php.net',
		pygame: 'https://pygame.org',
		python: 'https://python.org',
		rails: 'http://rubyonrails.org',
		'require.js': 'http://requirejs.org',
		ruby: 'https://ruby-lang.org',
		scala: 'https://scala-lang.org',
		'source maps': 'http://www.html5rocks.com/en/tutorials/developertools/sourcemaps/',
		sql: 'https://en.wikipedia.org/wiki/SQL',
		stylus: 'https://learnboost.github.io/stylus',
		subversion: 'https://subversion.apache.org',
		'three.js': 'http://threejs.org',
		'visual studio': 'https://www.visualstudio.com',
		'web components': 'http://webcomponents.org',
		webgl: 'https://en.wikipedia.org/wiki/WebGL'
	}
	function tech_link(name) {
		if (!(name in tech_links))
			throw new Error('No URL for: ' + name)
		return tech_links[name]
	}

mixin lk(name)
	a.lk(href='#{tech_link(name)}')= name

mixin lilk(name)
	li
		+lk(name)

mixin inline(...names)
	ul.inline
		each name in names
			li= name

mixin used(...names)
	ul.used
		each name in names
			+lilk(name)

mixin links(...names)
	ul.inline
		each name in names
			+lilk(name)

mixin icon(iconName)
	i(class='fa fa-#{iconName}')

mixin sec(name, iconName)
	section
		h1 #[+icon(iconName)] #{name}
		block
